In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [4]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
680,tt0443701,30000000,68369434,The X Files: I Want to Believe,David Duchovny|Gillian Anderson|Amanda Peet|Bi...,Chris Carter,"To find the truth, you must believe.",Six years after the events of The X-Files seri...,104,Drama|Mystery|Science Fiction|Thriller,Twentieth Century Fox Film Corporation|Ten Thi...,7/24/2008,5.4,2008
1549,tt0454082,9000000,21510851,Black Christmas,Katie Cassidy|Michelle Trachtenberg|Kristen Cl...,Glen Morgan,"This holiday season, the slay ride begins.",An escaped maniac returns to his childhood hom...,84,Horror|Thriller,Dimension Films,12/25/2006,5.3,2006
1124,tt0338337,60000000,96269812,Paycheck,Ben Affleck|Aaron Eckhart|Uma Thurman|Paul Gia...,John Woo,Remember the future.,Michael Jennings is a genius who's hired â€“ a...,119,Action|Adventure|Mystery|Science Fiction|Thriller,Paramount Pictures|DreamWorks SKG|Davis Entert...,12/25/2003,5.7,2003
947,tt0265662,20000000,75597042,The Rookie,Dennis Quaid|Rachel Griffiths|Beth Grant|Angus...,John Lee Hancock,Sometimes dreams come back to life.,Jim Morris never made it out of the minor leag...,127,Drama|Family,Walt Disney Pictures|Gran Via Productions|98 M...,3/25/2002,6.0,2002
1337,tt0377471,53000000,95226116,Be Cool,John Travolta|Uma Thurman|Vince Vaughn|Cedric ...,F. Gary Gray,Everyone is looking for the next big hit,"Disenchanted with the movie industry, Chili Pa...",118,Comedy|Crime,Double Feature Films|Jersey Films|Nina Saxon F...,3/4/2005,5.3,2005

In [18]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [9]:
answers = {} # создадим словарь для ответов

# Расчитываем прибыль/убытки
data['profit'] = data.revenue - data.budget

# Переводим дату релиза в формат даты
data['release_date'] = pd.to_datetime(data.release_date)
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
519,tt0196229,28000000,60780981,Zoolander,Ben Stiller|Owen Wilson|Christine Taylor|Will ...,Ben Stiller,3% Body Fat. 1% Brain Activity.,"Clear the runway for Derek Zoolander, VH1's th...",89,Comedy,Paramount Pictures|Village Roadshow Pictures|N...,2001-09-28,6.1,2001,32780981
1631,tt0315297,50000000,25195000,Twisted,Ashley Judd|Samuel L. Jackson|Andy GarcÃ­a|Dav...,Philip Kaufman,Every murder has a mark.,Recently promoted and transferred to the homic...,97,Action|Adventure|Crime|Drama|Thriller,Paramount Pictures|Kopelson Entertainment|Harl...,2004-02-27,5.7,2004,-24805000
1477,tt0430357,135000000,163794509,Miami Vice,Jamie Foxx|Colin Farrell|Gong Li|Luis Tosar|Na...,Michael Mann,No Law. No Rules. No Order.,Miami Vice is a feature film based on the 1980...,134,Action|Adventure|Crime|Thriller,Universal Pictures|Forward Pass|Motion Picture...,2006-07-27,5.7,2006,28794509
260,tt1041829,40000000,317375031,The Proposal,Sandra Bullock|Ryan Reynolds|Mary Steenburgen|...,Anne Fletcher,Here comes the bribe...,When she learns she's in danger of losing her ...,108,Comedy|Romance|Drama,Touchstone Pictures|Mandeville Films|Kurtzman/...,2009-06-01,6.7,2009,277375031
8,tt2293640,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,2015-06-17,6.5,2015,1082730962

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [36]:
# в словарь вставляем номер вопроса и ваш ответ на него

# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'  # "+"

In [37]:
data.original_title[data.budget == data.budget.max()].to_string(index = False)

' Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [38]:
# можно добавлять разные варианты решения
data.query('budget == budget.max()').original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [39]:
answers['2'] = 'Gods and Generals' # "+"

In [40]:
data.query('runtime == runtime.max()').original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [41]:
answers['3'] = 'Winnie the Pooh' # "+"

In [42]:
data['original_title'][data.runtime == min(data.runtime)]

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [43]:
answers['4'] = '110' # "+"

In [44]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [45]:
answers['5'] = '107' # "+"

In [46]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [47]:
answers['6'] = 'Avatar' # "+"

In [48]:
data.original_title[data.profit == data.profit.max()]

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [49]:
answers['7'] = 'The Lone Ranger' # "+"

In [50]:
data.original_title[data.profit == data.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [32]:
answers['8'] = '1478' # "+"

In [33]:
len(data.query('revenue > budget'))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [ ]:
answers['9'] = 'The Dark Knight' # "+"

In [55]:
data.query('release_year == 2008').query('revenue == revenue.max()').original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [58]:
answers['10'] = 'The Lone Ranger' # "+"

In [59]:
data.query('release_year >= 2012 & release_year <= 2014').query('profit == profit.min()').original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [ ]:
answers['11'] = 'Drama'

In [60]:
genres = []
for genres_row in range(0, len(data)):
    genres_i = data.genres[genres_row].split(sep = '|')
    for genre in range(0, len(genres_i)):
        genres.append(genres_i[genre])
    
max(set(genres), key=genres.count)

'Drama'

ВАРИАНТ 2

In [0]:
# Вариант 2
max(set(data.genres.str.split('|').sum()), key=data.genres.str.split('|').sum().count)

# Вариант 3
Counter(data.genres.str.split('|').sum()).most_common(1)

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [0]:
answers['12'] = 'Drama' # "+"

In [64]:
Counter(data.query('profit > 0').genres.str.split('|').sum()).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [0]:
answers['13'] = 'Peter Jackson' # "+"

In [63]:
data.groupby('director').revenue.sum().sort_values(ascending = False).reset_index().director[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [74]:
answers['14'] = 'Robert Rodriguez' # "+"

In [75]:
Counter(data[data.genres.].director.str.split('|').sum()).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
answers['15'] = 'Chris Hemsworth' # "+"

In [81]:
data.query('release_year == 2012').query('revenue == revenue.max()').cast.str.split('|').sum()

['Robert Downey Jr.',
 'Chris Evans',
 'Mark Ruffalo',
 'Chris Hemsworth',
 'Scarlett Johansson']

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
answers['16'] = 'Matt Damon' # "+"

In [85]:
Counter(data.query('budget > budget.mean()').cast.str.split('|').sum()).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
answers['17'] = 'Action' # "+"

In [89]:
Counter(data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').sum()).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [97]:
data[data.production_companies.str.contains('Paramount Pictures')].query('profit == profit.min()').original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [ ]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [102]:
data.groupby(['release_year']).revenue.sum().reset_index().max()

release_year           2015
revenue         25449202382
dtype: int64

In [ ]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [49]:
warner_profit = data[data.production_companies.str.contains('Warner Bros')]
warner_profit.groupby(['release_year']).profit.sum().reset_index().query('profit == profit.max()')

    release_year      profit
14          2014  2295464519

In [ ]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [58]:
movies_cnt_by_year = data.groupby(data['release_date'].dt.month).size().reset_index()
movies_cnt_by_year.columns = ['release_date', 'cnt']
movies_cnt_by_year.query('cnt == cnt.max()')

   release_date  cnt
8             9  227

In [17]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [23]:
len(data.query('release_date.dt.month in [6, 7, 8]'))

450

In [ ]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [62]:
Counter(data.query('release_date.dt.month in [1, 2, 12]').director.str.split('|').sum()).most_common(1)

[('Peter Jackson', 7)]

In [ ]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)