In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [21]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1661,tt0315824,50000000,6808550,The Big Bounce,Owen Wilson|Morgan Freeman|Gary Sinise|Sara Fo...,George Armitage,It's all in who you trust,A small-time con artist and a Hawaiian real es...,88,Comedy|Crime,Warner Bros. Pictures|Shangri-La Entertainment...,1/30/2004,4.9,2004
1432,tt0382628,30000000,25473093,Dark Water,Jennifer Connelly|John C. Reilly|Tim Roth|Doug...,Walter Salles,"This Season, The Mystery Of The Darkness Will ...",Dahlia Williams and her daughter Cecelia move ...,105,Drama|Horror|Thriller,Vertigo Entertainment|Touchstone Pictures|Post...,6/27/2005,5.2,2005
983,tt0454876,120000000,609016565,Life of Pi,Suraj Sharma|Irrfan Khan|Ayush Tandon|Gautam B...,Ang Lee,Believe The Unbelievable,"The story of an Indian boy named Pi, a zookeep...",127,Adventure|Drama|Action,Ingenious Film Partners|Ingenious Media|Dune E...,11/20/2012,7.1,2012
776,tt1583420,30000000,36160375,Larry Crowne,Tom Hanks|Julia Roberts|Bryan Cranston|Cedric ...,Tom Hanks,Rediscover life and love,"After losing his job, a middle-aged man reinve...",98,Comedy|Romance|Drama,Universal Pictures|Playtone Productions|Vendom...,6/30/2011,5.6,2011
797,tt1598778,60000000,135458097,Contagion,Matt Damon|Gwyneth Paltrow|Kate Winslet|Jude L...,Steven Soderbergh,Nothing spreads like fear,Contagion follows the rapid progress of a leth...,106,Drama|Thriller|Science Fiction,Double Feature Films|Regency Enterprises|Warne...,9/8/2011,6.1,2011

In [18]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [26]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

data['profit'] = data.revenue - data.budget
data['title_id'] = data.original_title + ' (' + data.imdb_id + ')' 
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title_id
8,tt2293640,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,6/17/2015,6.5,2015,1082730962,Minions (tt2293640)
1108,tt0295700,12600000,28650575,Wrong Turn,Desmond Harrington|Eliza Dushku|Emmanuelle Chr...,Rob Schmidt,It's the last one you'll ever take.,Chris crashes into a carload of other young pe...,84,Horror|Thriller,Summit Entertainment|Newmarket Capital Group|R...,5/30/2003,5.9,2003,16050575,Wrong Turn (tt0295700)
930,tt0280030,20000000,109862682,Return to Never Land,Harriet Owen|Blayne Weaver|Jeff Bennett|Kath S...,Robin Budd|Donovan Cook,The Classic Continues,The classic tale of 'Peter Pan' continues in D...,72,Adventure|Fantasy|Animation|Family,Walt Disney Pictures|Walt Disney Television An...,2/14/2002,6.2,2002,89862682,Return to Never Land (tt0280030)
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,Gods and Generals (tt0279111)
1725,tt0486583,100000000,97838349,Fred Claus,Vince Vaughn|Paul Giamatti|John Michael Higgin...,David Dobkin,Everybody has that one relative who can't help...,Fred Claus (Vince Vaughn) and Santa Claus (Pau...,116,Action|Comedy|Drama,Silver Pictures|Warner Bros.|Jessie Nelson Pro...,11/3/2007,5.5,2007,-2161651,Fred Claus (tt0486583)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [36]:
# в словарь вставляем номер вопроса и ваш ответ на него

# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'  # "+"

In [37]:
data.original_title[data.budget == data.budget.max()].to_string(index = False)

' Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [38]:
# можно добавлять разные варианты решения
data.query('budget == budget.max()').original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [39]:
answers['2'] = 'Gods and Generals' # "+"

In [40]:
data.query('runtime == runtime.max()').original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [41]:
answers['3'] = 'Winnie the Pooh' # "+"

In [42]:
data['original_title'][data.runtime == min(data.runtime)]

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [43]:
answers['4'] = '110' # "+"

In [44]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [45]:
answers['5'] = '107' # "+"

In [46]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [47]:
answers['6'] = 'Avatar' # "+"

In [48]:
data.original_title[data.profit == data.profit.max()]

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [49]:
answers['7'] = 'The Lone Ranger' # "+"

In [50]:
data.original_title[data.profit == data.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [32]:
answers['8'] = '1478' # "+"

In [33]:
len(data.query('revenue > budget'))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [ ]:
answers['9'] = 'The Dark Knight' # "+"

In [55]:
data.query('release_year == 2008').query('revenue == revenue.max()').original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [58]:
answers['10'] = 'The Lone Ranger' # "+"

In [59]:
data.query('release_year >= 2012 & release_year <= 2014').query('profit == profit.min()').original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [ ]:
answers['11'] = 'Drama'

In [60]:
genres = []
for genres_row in range(0, len(data)):
    genres_i = data.genres[genres_row].split(sep = '|')
    for genre in range(0, len(genres_i)):
        genres.append(genres_i[genre])
    
max(set(genres), key=genres.count)

'Drama'

ВАРИАНТ 2

In [0]:
# Вариант 2
max(set(data.genres.str.split('|').sum()), key=data.genres.str.split('|').sum().count)

# Вариант 3
Counter(data.genres.str.split('|').sum()).most_common(1)

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [0]:
answers['12'] = 'Drama' # "+"

In [64]:
Counter(data.query('profit > 0').genres.str.split('|').sum()).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [0]:
answers['13'] = 'Peter Jackson' # "+"

In [63]:
data.groupby('director').revenue.sum().sort_values(ascending = False).reset_index().director[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [74]:
answers['14'] = 'Robert Rodriguez' # "+"

In [75]:
Counter(data[data.genres.].director.str.split('|').sum()).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
answers['15'] = 'Chris Hemsworth' # "+"

In [81]:
data.query('release_year == 2012').query('revenue == revenue.max()').cast.str.split('|').sum()

['Robert Downey Jr.',
 'Chris Evans',
 'Mark Ruffalo',
 'Chris Hemsworth',
 'Scarlett Johansson']

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
answers['16'] = 'Matt Damon' # "+"

In [85]:
Counter(data.query('budget > budget.mean()').cast.str.split('|').sum()).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
answers['17'] = 'Action' # "+"

In [89]:
Counter(data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').sum()).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [97]:
data[data.production_companies.str.contains('Paramount Pictures')].query('profit == profit.min()').original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [ ]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [102]:
data.groupby(['release_year']).revenue.sum().reset_index().max()

release_year           2015
revenue         25449202382
dtype: int64

In [ ]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [108]:
data[data.production_companies.str.contains('Paramount Pictures')].groupby(['release_year']).profit.sum().reset_index().max()

release_year          2015
profit          2406662363
dtype: int64

In [ ]:
answers['20'] = '2015'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [109]:
month(data.release_date)

NameError: name 'month' is not defined

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)