In [37]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools
#from itertools import combinations
from collections import Counter

In [5]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
795,tt0816462,90000000,48795021,Conan the Barbarian,Jason Momoa|Rose McGowan|Rachel Nichols|Ron Pe...,Marcus Nispel,Enter an age undreamed of,A quest that begins as a personal vendetta for...,113,Adventure|Fantasy|Action,Dark Horse Entertainment|Nu Image Films|Parado...,8/17/2011,5.2,2011
946,tt0297884,13500000,29027914,Far from Heaven,Julianne Moore|Dennis Quaid|Dennis Haysbert|Pa...,Todd Haynes,It's time to stop hiding from the truth.,"In 1950s Connecticut, a housewife faces a mari...",107,Drama|Romance,Clear Blue Sky Productions,9/1/2002,6.4,2002
320,tt0976222,20000000,5210988,Bandslam,Vanessa Hudgens|Aly Michalka|Gaelan Connell|Li...,Todd Graff,Band Together,A high school social outcast and the popular g...,111,Comedy|Drama|Family|Music,Summit Entertainment|Goldsmith-Thomas Producti...,8/6/2009,5.5,2009
1525,tt0419946,20000000,22165608,The Marine,John Cena|Kelly Carlson|Robert Patrick|Abigail...,John Bonito,War is Fine But The Fight Continues,A group of diamond thieves on the run kidnap t...,92,Action|Adventure|Drama|Thriller,Twentieth Century Fox Film Corporation|Pacific...,10/13/2006,5.0,2006
1817,tt0249462,5000000,110000000,Billy Elliot,Jamie Bell|Julie Walters|Jean Heywood|Jamie Dr...,Stephen Daldry,Inside every one of us is a special talent wai...,Set against the background of the 1984 Miner's...,110,Drama|Comedy|Music,BBC Films|Tiger Aspect Productions|StudioCanal...,5/18/2000,7.1,2000

In [6]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [67]:
answers = {} # создадим словарь для ответов

# Расчитываем прибыль/убытки
data['profit'] = data.revenue - data.budget

# Переводим дату релиза в формат даты
data['release_date'] = pd.to_datetime(data.release_date)

# Расчет длины названия
data['title_len'] = data.original_title.map(lambda x: len(x))

# Расчет длины описания
data['overview_len'] = data.overview.map(lambda x: len(x))

#Расчет 

data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,title_length,profit,title_len,overview_len
876,tt0295701,70000000,277448382,xXx,Vin Diesel|Asia Argento|Marton Csokas|Samuel L...,Rob Cohen,A New Breed Of Secret Agent.,Xander Cage is your standard adrenaline junkie...,124,Action,Columbia Pictures|Original Film|Revolution Stu...,2002-08-09,5.7,2002,3,207448382,3,305
1634,tt0364751,19000000,69631118,Without a Paddle,Seth Green|Matthew Lillard|Dax Shepard|Antony ...,Steven Brill,"The call of the wild, the thrill of adventure....","Three friends, whose lives have been drifting ...",95,Action|Adventure|Comedy|Thriller,Paramount Pictures|De Line Pictures,2004-08-20,5.2,2004,16,50631118,16,457
331,tt0913354,20000000,22942221,Armored,Columbus Short|Laurence Fishburne|Skeet Ulrich...,NimrÃ³d Antal,Who will be the last man standing?,A crew of officers at an armored transport sec...,88,Action|Crime|Drama|Thriller,Screen Gems|Stars Road Entertainment|Farah Fil...,2009-12-04,5.6,2009,7,2942221,7,331
1512,tt0466342,20000000,48548426,Date Movie,Alyson Hannigan|Adam Campbell|Sophie Monk|Jenn...,Aaron Seltzer|Jason Friedberg,An Unprotected Comedy,Spoof of romantic comedies which focuses on a ...,83,Comedy,Regency Enterprises|Epsilon Motion Pictures|Ne...,2006-02-17,3.9,2006,10,28548426,10,142
1850,tt0183523,90000000,60874615,Mission to Mars,Gary Sinise|Tim Robbins|Don Cheadle|Connie Nie...,Brian De Palma,Let There Be Life.,When contact is lost with the crew of the firs...,114,Science Fiction,Spyglass Entertainment|The Jacobson Company|To...,2000-03-10,5.6,2000,15,-29125385,15,117

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [36]:
# в словарь вставляем номер вопроса и ваш ответ на него

# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'  # "+"

In [37]:
data.original_title[data.budget == data.budget.max()].to_string(index = False)

' Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [38]:
# можно добавлять разные варианты решения
data.query('budget == budget.max()').original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [39]:
answers['2'] = 'Gods and Generals' # "+"

In [40]:
data.query('runtime == runtime.max()').original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [41]:
answers['3'] = 'Winnie the Pooh' # "+"

In [42]:
data['original_title'][data.runtime == min(data.runtime)]

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [43]:
answers['4'] = '110' # "+"

In [44]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [45]:
answers['5'] = '107' # "+"

In [46]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [47]:
answers['6'] = 'Avatar' # "+"

In [48]:
data.original_title[data.profit == data.profit.max()]

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [49]:
answers['7'] = 'The Lone Ranger' # "+"

In [50]:
data.original_title[data.profit == data.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [32]:
answers['8'] = '1478' # "+"

In [33]:
len(data.query('revenue > budget'))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [ ]:
answers['9'] = 'The Dark Knight' # "+"

In [55]:
data.query('release_year == 2008').query('revenue == revenue.max()').original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [58]:
answers['10'] = 'The Lone Ranger' # "+"

In [59]:
data.query('release_year >= 2012 & release_year <= 2014').query('profit == profit.min()').original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [ ]:
answers['11'] = 'Drama'

In [60]:
genres = []
for genres_row in range(0, len(data)):
    genres_i = data.genres[genres_row].split(sep = '|')
    for genre in range(0, len(genres_i)):
        genres.append(genres_i[genre])
    
max(set(genres), key=genres.count)

'Drama'

ВАРИАНТ 2

In [0]:
# Вариант 2
max(set(data.genres.str.split('|').sum()), key=data.genres.str.split('|').sum().count)

# Вариант 3
Counter(data.genres.str.split('|').sum()).most_common(1)

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [0]:
answers['12'] = 'Drama' # "+"

In [64]:
Counter(data.query('profit > 0').genres.str.split('|').sum()).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [0]:
answers['13'] = 'Peter Jackson' # "+"

In [63]:
data.groupby('director').revenue.sum().sort_values(ascending = False).reset_index().director[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [74]:
answers['14'] = 'Robert Rodriguez' # "+"

In [75]:
Counter(data[data.genres.].director.str.split('|').sum()).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
answers['15'] = 'Chris Hemsworth' # "+"

In [81]:
data.query('release_year == 2012').query('revenue == revenue.max()').cast.str.split('|').sum()

['Robert Downey Jr.',
 'Chris Evans',
 'Mark Ruffalo',
 'Chris Hemsworth',
 'Scarlett Johansson']

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
answers['16'] = 'Matt Damon' # "+"

In [85]:
Counter(data.query('budget > budget.mean()').cast.str.split('|').sum()).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
answers['17'] = 'Action' # "+"

In [89]:
Counter(data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').sum()).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [97]:
data[data.production_companies.str.contains('Paramount Pictures')].query('profit == profit.min()').original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [ ]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [102]:
data.groupby(['release_year']).revenue.sum().reset_index().max()

release_year           2015
revenue         25449202382
dtype: int64

In [ ]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [49]:
warner_profit = data[data.production_companies.str.contains('Warner Bros')]
warner_profit.groupby(['release_year']).profit.sum().reset_index().query('profit == profit.max()')

    release_year      profit
14          2014  2295464519

In [ ]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [58]:
movies_cnt_by_year = data.groupby(data['release_date'].dt.month).size().reset_index()
movies_cnt_by_year.columns = ['release_date', 'cnt']
movies_cnt_by_year.query('cnt == cnt.max()')

   release_date  cnt
8             9  227

In [17]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [23]:
len(data.query('release_date.dt.month in [6, 7, 8]'))

450

In [ ]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [62]:
Counter(data.query('release_date.dt.month in [1, 2, 12]').director.str.split('|').sum()).most_common(1)

[('Peter Jackson', 7)]

In [ ]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [66]:
# уникальный список студий
companies = data.production_companies.str.split('|').explode().unique()

# серия, в которой будем записывать студию и длину названий
title_length = pd.Series(index = companies, dtype = 'float64') 

# вычислим среднюю длину названий для каждой студии
for company in companies:
    title_length[company] = data['title_len'][data['production_companies'].map(lambda x: True if company in x else False)].mean()

# ответ
title_length.sort_values(ascending = False).head(1)

Four By Two Productions    83.0
dtype: float64

In [ ]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [69]:
# серия, в которой будем записывать студию и длину описаний
overview_length = pd.Series(index = companies, dtype = 'float64') # серия, в которой будем записывать компанию и длину названий

# вычислим среднюю длину названий для каждой студии
for company in companies:
    overview_length[company] = data['overview_len'][data['production_companies'].map(lambda x: True if company in x else False)].mean()
    
# ответ
overview_length.sort_values(ascending = False).head(1)

Midnight Picture Show    1000.0
dtype: float64

In [70]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [79]:
data.query('vote_average >= vote_average.quantile(0.99)').original_title.sort_values()

1191                                     12 Years a Slave
316                                              3 Idiots
124                                            Big Hero 6
1213                                   Dallas Buyers Club
1563                Eternal Sunshine of the Spotless Mind
128                                             Gone Girl
119                               Guardians of the Galaxy
1188                                                  Her
370                                             Inception
9                                              Inside Out
118                                          Interstellar
1800                                              Memento
283                                            Mr. Nobody
1205                                            Prisoners
34                                                   Room
28                                              Spotlight
599                                       The Dark Knight
177                                The Fault in Our Stars
138                              The Grand Budapest Hotel
125                                    The Imitation Game
496     The Lord of the Rings: The Fellowship of the Ring
1081        The Lord of the Rings: The Return of the King
863                 The Lord of the Rings: The Two Towers
872                                           The Pianist
1444                                         The Prestige
155                              The Theory of Everything
1183                              The Wolf of Wall Street
1688                                  There Will Be Blood
Name: original_title, dtype: object

In [ ]:
answers['26'] = ['Inside Out', 'The Dark Knight', ' 12 Years a Slave']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [63]:
# Получаем лист с именами актеров в отдельной колонке
data['cast_split'] = data.cast.str.split('|') #.apply(lambda x: sorted(x))
data.sample(2)

# Создаем комбинации 
data['cast_together'] = data.cast_split.apply(lambda x: list(combinations(x, 2)))

list1 = data.cast_together.tolist()
list2 = list(itertools.chain(*list1))

Counter(list2).most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

ВАРИАНТ 2

In [30]:
list(data.cast_split[0])

['Chris Pratt',
 'Bryce Dallas Howard',
 'Irrfan Khan',
 "Vincent D'Onofrio",
 'Nick Robinson']

# Submission

In [63]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'21': 'Декабрь'}

In [64]:
# и убедиться что ни чего не пропустил)
len(answers)

1